/16_reflections_test_chantal_20260611_110645_16_config.csv
/16_reflections_test_chantal_20260611_110645_16_track_memory.csv
/beam_diameter_and_pathlength_16.png
/beam_diameter_and_pathlength_19.png
/beam_diameter_and_pathlength_22.png
/geometry_16_bounces.png
/geometry_16_config.csv
/geometry_16_track_memory.csv
/geometry_19_bounces.png
/geometry_19_config.csv
/geometry_19_track_memory.csv
/geometry_22_bounces.png
/geometry_22_config.csv
/geometry_22_track_memory.csv
/top_view_16_bounces.png
/top_view_19_bounces.png
/top_view_22_bounces.png